<div id="custom-alert" class="custom-alert hidden">
  <div class="custom-alert-box">
    <p id="custom-alert-message"></p>

    <button onclick="fecharAlerta()">
      OK
    </button>
  </div>
</div>