<div class="burningdown-container">
    <section class="burningdown-header">
        <div class="title-box">
            <h1>BURNING DOWN</h1>
            <p>
                Nas chamas do <strong>burning down</strong> você pode verificar seu desempenho na jornada de Scrum
                Dungeon. Além de retomar
                sua aventura de onde parou.
            </p>
        </div>
    </section>

    <section class="burningdown-content">
        <!-- LADO ESQUERDO -->
        <div class="burningdown-left">
            <img src="../assets/img/fogueira_burningdown_progresso.png" alt="Burning Down Chart" />
        </div>

        <!-- LADO DIREITO -->
        <div class="burningdown-right">
            <div class="chapter-box">
                <span>Capítulo atual:</span>
                <strong>01</strong>
                <!-- FAZER COM QUE ESSE NUMERO MUDE DE ACORDO COM O ARMAZENADO NO BANCO DE DADOS OU NOS COOKIES -->
            </div>

            <div class="stats-box">
                <div class="stat">
                    <span>0/5</span>
                    <!-- FAZER COM QUE ESSE NUMERO MUDE DE ACORDO COM O ARMAZENADO NO BANCO DE DADOS OU NOS COOKIES -->
                    <p>Desafios completos</p>
                </div>

                <div class="stat">
                    <span>1/3</span>
                    <!-- FAZER COM QUE ESSE NUMERO MUDE DE ACORDO COM O ARMAZENADO NO BANCO DE DADOS OU NOS COOKIES -->
                    <p>Tentativa atual</p>
                </div>

                <div class="stat">
                    <span>00</span>
                    <!-- FAZER COM QUE ESSE NUMERO MUDE DE ACORDO COM O ARMAZENADO NO BANCO DE DADOS OU NOS COOKIES -->
                    <p>Tentativas gastas</p>
                </div>
            </div>

            <a href="/aventura/retomar" class="btn-retomar"> Retomar Aventura </a>
        </div>
    </section>
</div>