<footer>
  <div class="footer_conteudo">
    <p>&copy; 2026 Scrum Dungeon - Todos os direitos reservados.</p>
    <img
      src="../assets/img/logo_grupo_octopuscode.png"
      alt="Logo do Grupo OctopusCode"
      class="logo_footer"
    />
    <p>< OCTOPUS_CODE ></p>
  </div>
</footer>
