<footer>
  <div class="footer_conteudo">
    <p>&copy; 2026 Scrum Dungeon - Todos os direitos reservados.</p>
    <div class="logofooter_e_nome">
      <img
        src="../assets/img/logo_grupo_octopuscode.png"
        alt="Logo do Grupo OctopusCode"
        class="logo_footer"
      />
      <p class="sem_quebra_de_linha">< OCTOPUS_CODE ></p>
    </div>
  </div>
</footer>
