<div class="conteudo_aba" id="formLogin">
  <h2>LOGIN</h2>
  <br />
  <p class="subtitulo_formulario">
    Como é bom tê-lo de volta, seja bem-vindo! Suas tarefas foram preservadas
    durante sua ausência. Deseja retoma-las?
  </p>

  <br />

  <form action="/capitulo1" method="get">
    <div class="campos_login">
      <div class="campo_formulario">
        <label for="loginCpf">CPF</label>
        <input
          type="text"
          id="loginCpf"
          placeholder="Insira seu cpf"
          required
        />
      </div>

      <div class="campo_formulario">
        <label for="loginSenha">SENHA</label>
        <input
          type="password"
          id="loginSenha"
          placeholder="Insira sua senha"
          required
        />
      </div>
    </div>
    <div class="esqueci_senha_inline">
      <div class="opcao_checkbox">
        <input type="checkbox" id="manterConectado" />
        <label for="manterConectado">Manter conectado</label>
      </div>
      <a href="#" class="link_esqueceu">Esqueceu sua senha?</a>
    </div>
    <button type="submit" class="botao_primario">ENTRAR</button>

    <br />

    <!-- pensar melhor nisso (talvez n tenha essa parte no projeto, AINDA) -->
    <!-- arruamr no css o espaçamento desse botão -->
  </form>

  <p class="rodape_painel">
    Não possui um cadastro?
    <!-- deixar botão funcional -->
    <a href="#" class="link_trocar_aba" data-aba="cadastro" id="cadastreseaqui"
      >Cadastre-se aqui</a
    >
  </p>
</div>
