<div class="conteudo_aba" id="formCadastro" style="display: none">
  <h2>Cadastro</h2>
  <p class="subtitulo_formulario">
    Antes de iniciar sua nova jornada, precisamos de algumas informações para
    criar sua ficha de aventureiro. Insira as informações abaixo e prossiga!
  </p>

  <form id="formCadastroPopup">
    <div class="campos_cadastro">
      <div class="campo_formulario">
        <label for="cadastroNome">Nome completo</label>
        <input type="text" id="cadastroNome" placeholder="Seu nome" required />
      </div>

      <div class="campo_formulario">
        <label for="cadastroCpf">CPF</label>
        <input
          type="text"
          id="cadastroCpf"
          placeholder="Somente números"
          minlength="11"
          maxlength="11"
          oninput="this.value = this.value.replace(/\D/g, '')"
          required
        />
      </div>

      <div class="campo_formulario">
        <label for="cadastroEmail">Email</label>
        <input
          type="email"
          id="cadastroEmail"
          placeholder="Seu email"
          required
        />
      </div>

      <div class="campo_formulario">
        <label for="cadastroSenha">Crie uma senha</label>
        <input
          type="password"
          id="cadastroSenha"
          placeholder="Mínimo 6 caracteres"
          required
        />
      </div>

      <div class="campo_formulario">
        <label for="cadastroSenhaConf">Confirme a senha</label>
        <input
          type="password"
          id="cadastroSenhaConf"
          placeholder="Confirme a senha"
          required
        />
      </div>
    </div>

    <button type="submit" class="botao_primario">Cadastrar</button>
  </form>

  <p class="rodape_painel">
    Já possui um cadastro?
    <a href="#" class="link_trocar_aba" data-aba="login" id="realizeologin"
      >Realize o login</a
    >
  </p>
</div>
