<header>
  <div class="header_conteudo">
    <img
      src="../assets/img/logo_scrum_simples.png"
      alt="Logo do Scrum Quest"
      class="logo_header"
    />
    <button
      class="menu_toggle"
      id="menuToggle"
      aria-label="Abrir menu"
      aria-expanded="false"
      aria-controls="menuPrincipal"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="nav_header" id="menuPrincipal">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>