<div class="nav_container">
    <nav class="bottom_nav" id="bottomNav">

        <button class="btn_nav btn_voltar" id="btnVoltar" onclick="navVoltar()">
            Voltar
        </button>

        <div class="nav_icons">
            <div class="nav_icon">
                <img src="../assets/img/icon_bestiario.png" class="nav_icon_img" />
                <span>Bestiário</span>
            </div>
            <div class="nav_icon">
                <img src="../assets/img/icon_pergaminhos.png" class="nav_icon_img" />
                <span>Pergaminhos</span>
            </div>
            <div class="nav_icon">
                <img src="../assets/img/icon_lendario.png" class="nav_icon_img" />
                <span>Lendário</span>
            </div>
            <div class="nav_icon">
                <img src="../assets/img/icon_perfil.png" class="nav_icon_img" />
                <span>Perfil</span>
            </div>
        </div>

        <button class="btn_nav btn_avancar" id="btnAvancar" onclick="navAvancar()">
            Avançar
        </button>

    </nav>
</div>