<div class="navbar-hover-zone">
  <section class="navegacao-inferior" id="navbarPrincipal">
    <!-- Barra fina que fica sempre visível -->
    <div class="trigger-barra"></div>
    <nav class="navegacao-inferior__nav" aria-label="Navegação inferior">

      <a href="/mapa" class="navegacao-inferior__item" data-rota="/mapa">
        <img src="/assets/img/ma_icon.png" alt="" class="navegacao-inferior__icone" />
        <span>Mapa</span>
      </a>

      <a href="/burningdown" class="navegacao-inferior__item" data-rota="/burningdown">
        <img src="/assets/img/burning_icon.png" alt="" class="navegacao-inferior__icone" />
        <span>Progresso</span>
      </a>

      <a href="/artefatos" class="navegacao-inferior__item" data-rota="/artefatos">
        <img src="/assets/img/artefato_icon.png" alt="" class="navegacao-inferior__icone" />
        <span>Artefatos</span>
      </a>

      <a href="/perfil" class="navegacao-inferior__item" data-rota="/perfil">
        <img src="/assets/img/perfil_icon.png" alt="" class="navegacao-inferior__icone" />
        <span>Perfil</span>
      </a>
    </nav>
  </section>
</div>