* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel'
}

.corpo-resultado {
    background-image: url("../img/parede_de_tijolos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 4rem;
    background-attachment: local;
    height: calc(100vh - 4rem);
    margin: 0;
}

.resultado-box {
    background-color: #EDD6A6;
    border: 4px solid #BA9961; 
    color: #14100b;
    margin: 6rem 20rem;
    border-radius: 1.5rem;
    height: 37rem;
    padding: 0.7rem 2rem;
}

.corvo-posicao {
    display: inline-block;
    position: absolute;
    top: 27rem;
    left: 80rem;
}

.corvo {
    width: 18rem;

}

.resultado {
    color: #1A3A5C;
    font-weight: 700;
}

.linha {
    height: 0.1rem;
    background-color: #BA9961;
}

.quadro {
    background-color: #D9BD85;
    margin-top: 20px;
    border: 3px solid #F59E0B;
    border-radius: 1.5rem;
    height: 26rem;
    margin-left: 5rem;
    width: 55rem;
}

.quadro-conteudo-topo {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 80px;
    padding-top: 2rem;
}

.quadro-conteudo-meio {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15rem;
}


.quadro-total {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 1rem;
}

.quadro-nota {
    font-size: 5rem;
    font-weight: 700;
    width: 14rem;
    
}

.quadro-tentativas {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 3.5rem;
    margin-top: 4rem;
}

.quadro-desempenho {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 3.5rem;
}

.quadro-conteudo-fundo {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15rem;
    
}

.quadro-numero {
    font-size: 5rem;
    font-weight: 700;
    padding-left: 12rem;
    margin-top: 1rem;
}

.quadro-texto {
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    text-transform: none;
}

.texto-posicao {
    padding: 20px 5rem;
}

.button-posicao {
display: flex;
justify-content: space-around;
align-items: center;
height: 7rem;
margin-right: 8rem;
}

.revisar {
border: 1px solid #1A3A5C;
color: #1A3A5C;
border-radius: 2rem;
background: none;
height: 2.5rem;
width: 6rem;
font-size: 1rem;
font-weight: 500;
cursor: pointer;
}

.avancar {
border: 2px solid #1A3A5C;
color: #1A3A5C;
border-radius: 1.4rem;
background: none;
height: 3rem;
width: 22rem;
font-size: 2rem;
font-weight: 700;
cursor: pointer;
}

.texto-botao {
    font-family: 'Source Serif 4', serif;
    text-transform: none;
}