<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/certificado.css" />
    <title>Certificado | Scrum Dungeon</title>
  </head>
  <body class="pagina-certificado">
    <%- include('partials/header') %> <%- include('./partials/botao_voltar') %>
    <main>
      <div class="certificado-botoes-area">...</div>
      <div class="certificado-base">...</div>
    </main>
    <%- include('partials/navegacao_inferior') %> <%- include('partials/footer')
    %>
    <script src="/js/main.js"></script>
  </body>
</html>
