<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/certificado.css" />
    <title>Certificado | Scrum Dungeon</title>
  </head>

  <body class="pagina-certificado">
    <%- include('partials/header') %> <%- include('./partials/botao_voltar') %>


<div class="certificado-botoes-area">
        <button class="certificado-botoes">
          <img src="../assets/img/botao_temp_download.png" class="icon" />
        </button>

        <button class="certificado-botoes">
          <img src="../assets/img/botao_temp_x.png" class="icon" />
        </button>
      </div>
    </div>

    <div class="certificado-base">
      <div class="cabecalho">
        <div class="escudo">
          <img src="/assets/img/escudo_certificado.png" />
        </div>
        <div class="logo">
          <img
            src="/assets/img/logo_scrum_detalhada.png"
            alt="Logo do Scrum Dungeon"
          />
          <h1 class="titulo-certificado">Certificado</h1>
          <p>Este certificado é concedido a:</p>
          <h2 class="nome-certificado" id="nome">[Nome do Aluno]</h2>
        </div>
        <div class="corvo-certificado">
          <img src="/assets/img/corvo_certificado.png" />
        </div>
      </div>

      <div class="formulario">
        <div class="cpf" id="cpf">CPF: </div>
        <div class="email" id="email">E-mail: </div>
        <div class="dataDeEmissao" id="dataDeEmissao">Data de Emissão: </div>  
      </div>

      <div class="media">
        <div> <h1>Média Final</h1></div>
        <div class="mediaFinal" id="mediaFinal"> </div>
      </div>
      
     <%- include('partials/navegacao_inferior') %> <%-
    include('partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
