<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/burningdown.css" />
  <link rel="stylesheet" href="../assets/css/main.css" />
  <title>Burningdown | Scrum Dungeon</title>
</head>

<body>
  <!-- ALERT -->
  <%- include('partials/alert') %>

    <!-- CABEÇALHO -->
    <%- include('partials/header') %>

      <%- include('partials/burnindown') %>

      <!-- RODAPÉ -->
      <%- include('partials/footer') %>

        <script src="js/main.js"></script>
        <script src="js/burningdown.js"></script>
</body>

</html>