<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/questionario1.css" />
  <title>Questionario 1 | Scrum Dungeon</title>
</head>

<body class="">
  <%- include('partials/header') %>
  <div class="corpo-questionario">

  <main class="tela">
    <section class="progresso-box" aria-label="Progresso do questionario">
      <div class="progresso-textos">
        <h2 id="texto-progresso">Questao 2 de 10</h2>
      </div>

      <div
        class="barra-container"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        aria-valuenow="20"
        aria-label="Progresso atual do questionario"
      >
        <div id="progresso-dinamico" class="barra-preenchimento" style="width: 20%;"></div>
      </div>

      <p class="progresso-percentual" id="texto-percentual">20%</p>
    </section>

    <section class="questao-box" aria-labelledby="enunciado-questao">
      <p class="dificuldade">Dificuldade: <strong>Média</strong></p>
      <div class="linha"></div>
      <p id="enunciado-questao" class="questao">Um Scrum Master atua como gerente tradicional, distribuindo tarefas e cobrando resultados individuais. Esse comportamento impacta negativamente principalmente:;


      </p>
    </section>

    <p class="selecione">Selecione a alternativa correta</p>

    <div class="respostas" role="group" aria-label="Alternativas da questao">
      <button type="button" class="botaoresposta" data-alternativa="a">
        <span class="quadradinho">
          <span class="letraresposta">A</span>
        </span>
        <span class="resposta">Resposta A</span>
      </button>

      <button type="button" class="botaoresposta" data-alternativa="b">
        <span class="quadradinho">
          <span class="letraresposta">B</span>
        </span>
        <span class="resposta">Resposta B</span>
      </button>

      <button type="button" class="botaoresposta" data-alternativa="c">
        <span class="quadradinho">
          <span class="letraresposta">C</span>
        </span>
        <span class="resposta">Resposta C</span>
      </button>

      <button type="button" class="botaoresposta" data-alternativa="d">
        <span class="quadradinho">
          <span class="letraresposta">D</span>
        </span>
        <span class="resposta">Resposta D</span>
      </button>
    </div>

    <div class="botoesdenavegacao">
      <button type="button" class="botaonavegacao">Voltar</button>
      <button type="button" class="botaonavegacao">Pular</button>
      <button type="button" class="confirmar">Confirmar Resposta</button>
      <button type="button" class="botaonavegacao">Enviar</button>
    </div>
  </main>
</div>
  <%- include('partials/footer') %>

  <script src="/js/main.js"></script>
  <script src="/js/questionario1.js"></script>
</body>

</html>
