<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/questionario1.css" />
    <title>Questionário 1 | Scrum Dungeon</title>
  </head>

  <body>
    <!-- CABEÇALHO -->
    <%- include('partials/header') %>

    <div class="tela">
      <!-- Barra de progresso -->
      <div class="progresso-box">
        <h2>QUESTÃO DE</h2>
      </div>

      <!-- Caixa de Questão -->
      <div class="questao-box">
        <p class="dificuldade">Dificuldade</p>
        <div class="linha"></div>
        <p>Questão</p>
      </div>
      <div>
        <p class="selecione">Selecione a alternativa correta</p>
      </div>

      <!-- Respostas -->
      <div class="respostas">
        <button class="botaoresposta">
          <p>A</p>
        </button>
        <button class="botaoresposta">
          <p>B</p>
        </button>

        <button class="botaoresposta">
          <p>C</p>
        </button>
        <button class="botaoresposta">
          <p>D</p>
        </button>
      </div>

      <!-- botões -->
      <div class="botoes">
        <button class="botao">Voltar</button>
        <button class="botao">Pular</button>
        <button class="confirmar botao">Confirmar Resposta</button>
        <button class="botao">Enviar</button>
      </div>

      <!-- espaço vazio e botões principais -->
      <div class="vazio"></div>
    </div>
    <!-- RODAPÉ -->
    <%- include('partials/footer') %>
  </body>
</html>
