<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/questionario1.css" />
  <link rel="stylesheet" href="/assets/css/resultado.css" />
  <title>Resultado | Scrum Dungeon</title>
</head>

<body class="corpo-resultado">
  <%- include('partials/header') %>

  <main class="tela">
    <section class="resultado-box" aria-labelledby="titulo-resultado">
      <p id="titulo-resultado" class="resultado">RESULTADO DA BATALHA</p>

      <div class="linha"></div>

      <div class="heroi-posicao">
        <img src="/assets/img/Resultado/resultado_venceu.png" alt="heroi vitoria" class="heroi" id="heroiResultado" />
      </div>

      <div class="quadro">
        
        <div class="texto-posicao">
          <p class="texto" id="resultadoMensagem">
            Carregando o resultado da sua aventura...
          </p>
        </div>
      </div>

      <div class="conteudo-topo">
          <p class="total">Total de Acertos:</p>
          <p class="nota" id="resultadoAcertos">--/--</p>
        </div>

      <div class="conteudo-meio">
          <p class="desempenho">Desempenho:</p>
          <p class="desempenho" id="resultadoDesempenho">Carregando...</p>
        </div>

        <div class="conteudo-fundo">
          <p class="tentativas">Tentativas:</p>
          <p class="numero" id="resultadoTentativas">--</p>
        </div>
      
    </section>
    <div class="button-posicao">
      <button class="tentar-novamente" id="btnAcaoResultado" type="button" disabled>
        <span class="texto-botao">Carregando...</span>
      </button>
    </div>
  </main>
  
 <%- include('partials/navegacao_inferior') %>

  <%- include('partials/footer') %>

  <script src="/js/main.js"></script>
  <script src="/js/resultado.js"></script>
</body>

</html>